//Variable file

$website-width: 1280px;
$main-color: rgb(104, 193, 209);
$hyper-color:rgb(101, 231, 231);
$light-color: #f4f4f4;
$medium-color: rgb(231, 106, 231);
$panther-blue: #081E3F;
$panther-gold: #B6862C;
$cream-bg: #c71400;
$dark-bg: #f4f4f4;
$dark-color: #333;
$bg-image: url('../img/showcase.jpg');
