//Variable file

$website-width: 1280px;
$main-color: rgb(104, 193, 209);
$light-color: #f4f4f4;
$medium-color: rgb(231, 106, 231);
$cream-bg: #c71400;
$dark-bg: #f4f4f4;
$dark-color: #333;
$bg-image: url('../img/showcase.jpg');
